<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">

{% seo %}
  </head>

  <body>

    <header>
      <div class="container">
        <a id="a-title" href="{{ '/' | relative_url }}">
          <h1>{{ site.title | default: site.github.repository_name }}</h1>
        </a>
        <h2>{{ site.description | default: site.github.project_tagline }}</h2>

        <section id="downloads">


          # Table of contents

          * [Introduction](README.md)
          * [\*nix](nix.md)
          * [WINDOWS](windows.md)
          * [NETWORK](network.md)
          * [Tips and Tricks](tips-and-tricks.md)
          * [Tool Syntax](tool-syntax.md)
          * [Web](web.md)
          * [Databases](databases.md)
          * [Programming](programming.md)
          * [Wireless](wireless.md)
          * [References](references.md)
          * [Index](index.md)


          <a href="README.md" class="btn"><span class="icon"></span>Introduction</a>
          <a href="nix.md" class="btn "><span class="icon"></span>nix</a>
          <a href="windows.md" class="btn"><span class="icon"></span>WINDOWS</a>
          <a href="network.md" class="btn "><span class="icon"></span>NETWORK</a>
          <a href="tips-and-tricks.md" class="btn "><span class="icon"></span>Tips and Tricks</a>
          <a href="tool-syntax.md" class="btn"><span class="icon"></span>Tool Syntax</a>
          <a href="web.md" class="btn "><span class="icon"></span>Web</a>
          <a href="databases.md" class="btn"><span class="icon"></span>Databases</a>
          <a href="programming.md" class="btn "><span class="icon"></span>Programming</a>
          <a href="wireless.md" class="btn "><span class="icon"></span>Wireless</a>
          <a href="references.md" class="btn "><span class="icon"></span>References</a>
          <a href="index.md" class="btn "><span class="icon"></span>Index</a>
        </section>
      </div>
    </header>

    <div class="container">
      <section id="main_content">
        {{ content }}
      </section>
    </div>

    {% if site.google_analytics %}
      <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
        ga('create', '{{ site.google_analytics }}', 'auto');
        ga('send', 'pageview');
      </script>
    {% endif %}
  </body>
</html>
